#sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  width: 90%;
  max-width: 1200px;

  label {
    font-size: 2rem;
  }

  .sliding {
    outline: 0;
    border: 0;
    border-radius: 500px;
    width: 96%;
    margin: 2%;
    transition: box-shadow 0.2s ease-in-out;
    & {
      overflow: hidden;
      height: 80px;
      -webkit-appearance: none;
      background-color: #ddd;
    }
    &::-webkit-slider-runnable-track {
      height: 80px;
      -webkit-appearance: none;
      color: #444;
      // margin-top: -1px;
      transition: box-shadow 0.2s ease-in-out;
    }
    &::-webkit-slider-thumb {
      width: 80px;
      -webkit-appearance: none;
      height: 80px;
      cursor: ew-resize;
      box-shadow: -50vw 0 0 48vw hsl(150, 50%, 35%),
        inset 0 0 0 40px hsla(150, 50%, 35%, 0.2);
      border-radius: 100%;
      transition: box-shadow 0.2s ease-in-out;
      position: relative;
      transform: scale(110%);
      z-index: 100;
    }
  }

  #symptomeQuantification {
    h2 {
      font-size: 1.2rem;
    }
  }

  #headhache::-webkit-slider-thumb {
    background: url("../src/assets/mal-de-crane.png") center / 50% no-repeat;
  }

  #headhache:hover::-webkit-slider-thumb {
    background-size: 62%;
  }

  #breathless::-webkit-slider-thumb {
    background: url("../src/assets/poumon.png") center / 50% no-repeat;
  }

  #breathless:hover::-webkit-slider-thumb {
    background-size: 62%;
  }

  #appetite::-webkit-slider-thumb {
    background: url("../src/assets/faim.png") center / 50% no-repeat;
  }

  #appetite:hover::-webkit-slider-thumb {
    background-size: 62%;
  }

  @media screen and (max-width: 1000px) {
    label {
      font-size: 1.2rem;
    }

    .sliding::-webkit-slider-thumb {
      width: 80px;
      -webkit-appearance: none;
      height: 80px;
      cursor: ew-resize;
      box-shadow: -50vw 0 0 44vw hsl(150, 50%, 35%),
        inset 0 0 0 40px hsla(150, 50%, 35%, 0.2);
    }

    #symptomeQuantification > h2 {
      font-size: 3vw;
    }
  }
}
